*.pyc
Thumbs.db
**.mtl
.DS_Store
autosave.design
callgrind.*
*.aps
*.pdb
*.bbprojectd

/steamworks-sdk/output
/output/
/sdk/

/Build
/.vs/VSWorkspaceState.json
/.vs/ProjectSettings.json
/.vs/*.sqlite
/.vs/*.sqlite-journal
/.vs/newcities/*
/.vs/newcity/*
/.vs/*
/NewCity/*
/build*/
/bin-*/*
/distrib/build_*/*
/external/
/enc_temp_folder/
/src/blueprints.txt
/src/newcity
/src/newcity.exe
/src/newcity.pdb
/src/game_test.exe
/src/binary_map
/src/designs/autosave.design
/src/designs/autosave/*
/src/designs/crash-autosave.design
/src/modpacks/yours/designs/autosave.design.png
/src/modpacks/yours/designs/autosave/*
/src/workshop/
/src/saves/*.city
/src/saves/*.test
/src/saves/*.png
/src/callgrind.out
/src/options.data
/src/input.data
/src/game_log.log
/src/game_log.*.log
/src/backtrace.dump
/src/massif.out.*
/src/xtmemory.kcg.*
/src/xtleak.kcg.*
/src/game_test
/src/.newcity.lock
/src/capture.png
/src/.gdb_history
/src/leak-check.out
/NewCity.zip

